body {
  text-align: center;
  margin: auto;
}

.box {
  height: 450px;
  width: 600px;
  margin: auto;
  margin-top: 100px;
  background-color: #eee;
}

.breadtop {
  width: 80%;
  height: 20%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  position: relative;
  animation: moveInLeft 1s ease-out;
}
.breadtop:hover {
  transform: scale(1.3) rotate(-5deg);
}
.seeds {
  position: absolute;
  top: 30%;
  left: 20%;
  background-color: white;
  height: 15%;
  width: 10%;
  border-radius: 40%;
  transform: rotate(20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}
.seeds:after {
  content: '';
  position: absolute;
  top: 90%;
  left: 170%;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 40%;
  transform: rotate(-30deg);
  box-shadow: inset -2px -3px #c9c9c9;
}
.seeds:before {
  content: '';
  position: absolute;
  top: -35px;
  left: 90px;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 40%;
  transform: rotate(-30deg);
  box-shadow: inset -2px -3px #c9c9c9;
}
.seeds2 {
  position: absolute;
  top: 70%;
  left: 80%;
  background-color: white;
  height: 15%;
  width: 10%;
  border-radius: 40%;
  transform: rotate(20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}
.seeds2:after {
  content: '';
  position: absolute;
  top: -25px;
  left: -80px;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 40%;
  transform: rotate(-30deg);
  box-shadow: inset -2px -3px #c9c9c9;
}
.seeds2:before {
  content: '';
  position: absolute;
  top: 35px;
  left: -90px;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -2px -3px #c9c9c9;
}
.bacon {
  width: 85%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  border-radius: 1px;
  margin: 2% auto;
}
.salat1 {
  width: 90%;
  height: 5%;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 30px;
  animation: moveInLeft 1s ease-out;
}
.salat1:hover {
  transform: scale(1.3) rotate(5deg);
}
.salat2 {
  width: 90%;
  height: 5%;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 30px;
  animation: moveInRight 1s ease-out;
}
.salat2:hover {
  transform: scale(1.3) rotate(-5deg);
}
.cheese1 {
  width: 83%;
  height: 8%;
  background: linear-gradient(#f4d004, #d6bb22);
  margin: 2% auto;
  border-radius: 20px;
  transition: all 0.3s;
  animation: moveInLeft 1s ease-out;
}
.cheese1:hover {
  transform: scale(1.3) rotate(5deg);
}
.cheese2 {
  width: 83%;
  height: 8%;
  background: linear-gradient(#f4d004, #d6bb22);
  margin: 2% auto;
  border-radius: 20px;
  transition: all 0.3s;
  animation: moveInRight 1s ease-out;
}
.cheese2:hover {
  transform: scale(1.3) rotate(-5deg);
}
.meat1 {
  width: 75%;
  height: 10%;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 20px;
  transition: all 0.3s;
  animation: moveInLeft 1s ease-out;
}
.meat1:hover {
  transform: scale(1.3) rotate(-5deg);
}
.meat2 {
  width: 75%;
  height: 10%;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 20px;
  transition: all 0.3s;
  animation: moveInRight 1s ease-out;
}
.meat2:hover {
  transform: scale(1.3) rotate(-5deg);
}
.breadbottom {
  width: 80%;
  height: 15%;
  background: linear-gradient(#f08e4a, #e27b36);
  margin: 2% auto;
  border-radius: 0 0 30% 30%;
  box-shadow: inset -15px 0 #c15711;
  animation: moveInLeft 1s ease-out;
}
.breadbottom:hover {
  transform: scale(1.3) rotate(5deg);
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    tranform: translatex(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    tranform: translatex(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
